@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.nav-container{
    display: flex;
    justify-content: center;

}

.nav-container h1{
    font-family: 'Montserrat', sans-serif;;
    /* color: #9763f6; */
    color: orange;
}